<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">CWMoney Page</h1>
</div>

<!-- <div ng-controller="DatepickerDemoCtrl" class="m-b-lg">
    <h4>Datepicker</h4>
    <pre class="alert alert-info">Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
    <div class="row">
        <div class="col-sm-6">
            <label>Popup</label>
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"  datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="col-sm-6">
            <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
        </div>
    </div>
</div> -->

<div ng-controller="cwmDateCtrl" class="m-b-lg">
    <div class="row">
        <div class="col-sm-6">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="col-sm-6">
            <pre><em>{{dt/1000}}</em></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="dt2" />
        </div>
        <div class="col-sm-6">
            <pre><em>{{dt2 *1000 | date:'yyyy-MM-dd HH:mm:ss Z' }}</em></pre>
        </div>
    </div>
</div>

<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
            sqlite_master
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th ng-repeat="col in columns">{{col}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in values">
                        <td ng-repeat="col in columns">{{row[columns.indexOf(col)]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>